.member__profile {
    /* background-color: #259aa6;
    box-shadow: 2px 3px 6px gray;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px; */

    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.member__profile__about p {
    margin-bottom: 5px;
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.member__profile__address {
    text-align: left;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.group__detail__members p {
    margin-bottom: 5px;
}