img {
    object-fit: fill;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page__grid__auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 325px;
}
